.git
.github
.dart_tool
**/.dart_tool
target
**/target
build
**/build
.flutter-plugins
.flutter-plugins-dependencies
coverage
**/coverage
profiles
**/profiles
*.db
*.db-*
*.sealed
.env
.env.*
*.pem
*.key
*.p12
*.pfx
